.postForm h1 {
  text-align: center;
}
.postForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.postForm form input, .postForm form textarea {
  margin-bottom: 1em;
  font-size: 1em;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: papayawhip;
}
.postForm form button {
  border: none;
  padding: 15px;
  font-size: 1em;
  background-color: steelblue;
  border-radius: 5px;
  color: white;
}
